
.container{
  max-width: 50vw;
  max-height: 80%;
  background: #ECE9E6;
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}
.username{
  font-weight: bold;
}
.time{
  font-size: 0.7em;
  color: #999;
}
.chat-window{
  font-size: 1.5rem;
  max-height: 60vh;
  overflow-y:auto;
}
#message{
  font-size: 2rem;
}