* {
  box-sizing: border-box;
  transition: background-color 0.6s ease;
}
body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;
}
.loading-div{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  margin:0;
}
.loading-img{
  max-width: 250px;
  max-height: 250px;
}
.main-container{
  max-width: 50%;
  display: none;
  /* will be changed to flex after loading animation */
  flex-direction: column;
  max-height: 80%;
  background: #f9f9f9;
}
h1 {
  color: #708160;
}
.nav-user{
  background: #bb3b0e;
  font-size: 0.6em;
  display:inline;
}
.ur-msg{
  background: #f9f9f9;
}
.btn{
  background: #bb3b0e;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus{ 
  outline: none !important;
}
.username{
  font-weight: bold;
  font-size: 1em;
}
.user-img{
  height:40px;
  width: 40px;
  border-radius: 100%;
}
.action-img{
  height:25px;
  width: 25px;
  border-radius: 100%;
}
.nav-google-img{
  display:inline;
}
.time{
  font-size: 0.7em;
  color: #999;
}
.chat-window{
  font-size: 0.8em;
  /* display: flex; */
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat-window::-webkit-scrollbar {
  width: 1em;
}
.chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.chat-window::-webkit-scrollbar-thumb {
  background-color: #bb3b0e;
  /* outline: 1px solid #bb3b0e; */
}
#newmessage{
  font-size: 1.5em;
}
.list-group-item:hover{
  background-color: #eeeeee;
}
p.message{
  max-width: 5%;
  font-size: 1.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline;
}
.read-btn{
  display: inline;
  margin-left: 30px;
  border: none;
  background-color: #fff;
}
.read-btn:active {
  transform: scale(0.98);
}
.read-btn:focus{ 
  outline: none !important;
}
.speak-btn{
  display: none;
}
.dark-mode-switch{
  display: none;
  position: absolute;
  right: 1%;
  bottom: 1%;
  margin: auto;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #bb3b0e;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1b1c1d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
