* {
  box-sizing: border-box;
}
/* html{
  background: #fff;
} */
body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.loading-div{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  margin:0;
}
.loading-img{
  max-width: 300px;
  max-height: 300px;
}
.main-container{
  max-width: 50%;
  display: none;
  /* display: flex; */
  flex-direction: column;
  max-height: 70%;
  background: #f9f9f9;
}
h1 {
  color: 708160;
}
.nav-user{
  background: #bb3b0e;
  font-size: 0.8rem;
}
.ur-msg{
  background: #f9f9f9;
}
.btn{
  background: #bb3b0e;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus{ 
  outline: none !important;
}
.username{
  font-weight: bold;
}
.time{
  font-size: 0.7em;
  color: #999;
}
.chat-window{
  font-size: 1em;
  display: flex;
  max-height: 40%;
  overflow-y:auto;
  overflow-x: hidden;
}
#message{
  font-size: 1.8em;
}
.list-group-item{
  min-width: 100vw;
}
.time{
  font-size: 0.8em;
}