* {
  box-sizing: border-box;
  transition: background-color 0.6s ease;
}
body {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  margin: 0;
  padding: 0;
}
.loading-div{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  margin:0;
}
.loading-img{
  max-width: 250px;
  max-height: 250px;
}
.main-container{
  max-width: 50%;
  display: none;
  /* will be changed to flex after loading animation */
  flex-direction: column;
  max-height: 80%;
  background: #f9f9f9;
}
h1 {
  color: #708160;
}
.nav-user{
  background: #bb3b0e;
  font-size: 0.7em;
  display:inline;
}
.ur-msg{
  background: #f9f9f9;
}
.btn{
  background: #bb3b0e;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover{
  transform: scale(1.02);
  color:white;
}
.btn:focus{ 
  outline: none !important;
}
.username{
  font-weight: bold;
  font-size: 1.2em;
}
.user-img{
  height:40px;
  width: 40px;
  border-radius: 100%;
}
.action-img{
  height:25px;
  width: 25px;
  border-radius: 100%;
}
.nav-google-img{
  display:inline;
}
.time{
  font-size: 0.9em;
  color: #999;
}
.current-room{
  background-color: #ea2c62;
  transition: none;
}
.chat-room:hover{
  background-color: #8d93ab;
}
.chat-window{
  font-size: 1em;
  /* display: flex; */
  max-height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}
.chat-window::-webkit-scrollbar {
  width: 1em;
}
.chat-window::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.chat-window::-webkit-scrollbar-thumb {
  background-color: #bb3b0e;
  /* outline: 1px solid #bb3b0e; */
}
#newmessage{
  font-size: 1.4em;
}
.new-chat-div{
  width: 50%;
}
.list-group-item:hover{
  background-color: #eeeeee;
}
span.message{
  max-width: 5%;
  font-size: 1.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline;
}
a:hover{
  text-decoration: none;
  color: #bb3b0e;
}
.read-btn{
  display: inline;
  margin-left: 30px;
  border: none;
  background-color: #fff;
}
.read-btn:active {
  transform: scale(0.98);
}
.read-btn:focus{ 
  outline: none !important;
}
.speak-btn{
  display: none;
  transition: none;
}
.sp-active{
  background-color: #8d93ab;
}
.dark-mode-switch{
  display: none;
  position: absolute;
  right: 1%;
  bottom: 1%;
  margin: auto;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #bb3b0e;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #000;
}
input:focus + .slider {
  box-shadow: 0 0 1px #1b1c1d;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
@media (max-width: 540px) {  /*if screen width is smaller than 540px*/
  .loading-img{
    max-width: 100px;
    max-height: 100px;
  }
  h1 {
    font-size: 1.2em;
    margin-top: -40px !important;
  }
  h6{
    font-size: 1em;
  }
  .main-container{
    max-width: 80%;
    max-height: 75%;
    margin-top: 65px !important;
    padding-top: 0 !important;
  }
  .nav-user{
    font-size: 0.4em;
  }
  .user-img{
    height:25px;
    width: 25px;
  }
  .username{
    font-size: 0.8em;
  }
  .time{
    font-size: 0.7em;
  }
  .action-img{
    height:18px;
    width: 18px;
  }
  .chat-window{
    font-size: 0.7em;
    margin-top: -20px;
    max-height: 75%;
  }
  .msg-div{
    margin: 4px 0 0 4px !important;
  }
  #newmessage{
    font-size: 0.9em;
  }
  .read-btn{
    margin-left: 15px;
  }
  .dark-mode-switch{
    transform: scale(0.8);
    right: 0.3%;
    bottom: 0.3%;
  }
  .ur-msg{
    font-size: 0.7em !important;
  }
  .btn{
    font-size: 0.8em;
    max-width: 60px;
    padding: 4px !important;
  }
  .new-chat-div{
    width: 95%;
    margin: auto auto 8% auto !important;
  }
  .chat-room{
    padding: 3px;
    margin: 5px 3px !important;
  }
  .navbar{
    margin-top: -15px !important;
  }
}