* {
  box-sizing: border-box;
}
/* html{
  background: #fff;
} */
body {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}
.loading-div{
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 100vh;
  min-height: 100vh;
  margin:0;
}
.loading-img{
  max-width: 300px;
  max-height: 300px;
}
.main-container{
  max-width: 50%;
  display: none;
  /* display: flex; */
  flex-direction: column;
  max-height: 80%;
  background: #f9f9f9;
}
h1 {
  color: 708160;
}
.nav-user{
  background: #bb3b0e;
  font-size: 0.8em;
  display:inline;
}
.ur-msg{
  background: #f9f9f9;
}
.btn{
  background: #bb3b0e;
  margin: 0 5px 0 5px;
  color: white;
  cursor: pointer;
  outline: none !important;
  box-shadow: none !important;
}
.btn:active {
  transform: scale(0.98);
}
.btn:focus{ 
  outline: none !important;
}
.username{
  font-weight: bold;
  font-size: 1.2em;
}
.user-img{
  height:40px;
  width: 40px;
  border-radius: 100%;
}
.action-img{
  height:30px;
  width: 30px;
  border-radius: 100%;
}
.nav-google-img{
  display:inline;
}
.time{
  font-size: 0.7em;
  color: #999;
}
.chat-window{
  font-size: 1em;
  display: flex;
  max-height: 40%;
  overflow-y:auto;
  overflow-x: hidden;
}
#newmessage{
  font-size: 1.8em;
}
.list-group-item{
  min-width: 100vh;
}
.list-group-item:hover{
  background-color: #eeeeee;
}
p.message{
  max-width: 25%;
  font-size: 1.5em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  display: inline;
}
.speak-btn{
  display: inline;
  margin-left: 30px;
  border: none;
  background-color: #fff;
}
.speak-btn:active {
  transform: scale(0.98);
}
.speak-btn:focus{ 
  outline: none !important;
}
.time{
  font-size: 0.8em;
}
